<a href="https://colab.research.google.com/github/rynedaniels/project_2/blob/main/Project2_Part_1ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [4]:
sw_df = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Part 2/07: Classification Models/spanishwines.csv')
sw_df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

1. **Source of data**

https://www.kaggle.com/datasets/fedesoriano/spanish-wine-quality-dataset?select=wines_SPA.csv

2. **Brief description of data**

The dataset contains information on various red wines produced in Spain, focusing on their popularity and description metrics and their effects on the wines' quality. The dataset consists of 11 columns or attributes, including winery name, wine name, year of grape harvest, user ratings, number of reviews, country of origin, wine region, price, wine variety, body score, and acidity score.

3. **What is the target?**

I will be exploring the target vector of the `type` column. 


4. **What does one row represent? (A person?  A business?  An event? A product?)**

One row represents a product... a varietal of wine offered by a winery with its corresponding reviews.

5. **Is this a classification or regression problem?**

This dataset could used for a classification or regression problem. I will be addressing this dataset as a classification problem targeting the the type column.

6. **How many features does the data have?**

this dataset has 10 feature columns

7. **How many rows are in the dataset?**

7500 rows

8. **What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?**

Missing or incomplete data. NaNs in the body or acidity column could prove vital to determining the varietal. Missing values in these columns will likely make it more difficult to classify the varietal. 

Addressing categorical values: our are categorical data columns nominal or ordinal? All of these columns need to be encoded and handling each of them effectively could impact the performance of our model.

In [5]:
ci_df = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Part 2/07: Classification Models/Car_Insurance_Claim.csv')
ci_df.head()

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,569520,65+,female,majority,0-9y,high school,upper class,0.629027,1.0,after 2015,0.0,1.0,10238,12000.0,sedan,0,0,0,0.0
1,750365,16-25,male,majority,0-9y,none,poverty,0.357757,0.0,before 2015,0.0,0.0,10238,16000.0,sedan,0,0,0,1.0
2,199901,16-25,female,majority,0-9y,high school,working class,0.493146,1.0,before 2015,0.0,0.0,10238,11000.0,sedan,0,0,0,0.0
3,478866,16-25,male,majority,0-9y,university,working class,0.206013,1.0,before 2015,0.0,1.0,32765,11000.0,sedan,0,0,0,0.0
4,731664,26-39,male,majority,10-19y,none,working class,0.388366,1.0,before 2015,0.0,0.0,32765,12000.0,sedan,2,0,1,1.0

1. **Source of data**

https://www.kaggle.com/datasets/sagnik1511/car-insurance-data

2. **Brief description of data**

This dataset contains annual car insurance data from a company, with information about its customers, their demographic details, driving history, and vehicle information. The "OUTCOME" column indicates whether a customer has claimed their insurance (1) or not (0). 

3. **What is the target?**

The `outcome` column is the target vector.

4. **What does one row represent? (A person?  A business?  An event? A product?)**

Each row in the dataset represents a customer or policyholder.

5. **Is this a classification or regression problem?**

This is a classification problem since the goal is to predict whether a customer will claim their insurance or not.

6. **How many features does the data have?**

There are 18 feature columns.

7. **How many rows are in the dataset?**

There are 10000 rows in the dataset.

8. **What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?**

Imbalanced data: If there's a significant difference in the number of customers who claimed insurance or not. This could lead to a bias in our model that favor the majority class.